{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title text-success">Senha Alterada Com Sucesso</h2>
                    <p class="card-text">Sua senha foi alterada com sucesso.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary mt-3"><i class="fa-solid fa-house"></i> Voltar para a Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
