{% extends '_baseFormConsulta.html' %}
    {% block content %}
         <!-- Page Heading -->
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tabela de Consultas</h1>
            <a href="{% url 'add-consulta' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus fa-sm text-white-50"></i> Adicionar Consulta</a>
        </div>

         <!-- DataTales Example -->
         <div class="card shadow mb-4">
             <div class="card-header py-3">
                 <h6 class="m-0 font-weight-bold text-primary">Consultas</h6>
             </div>
             <div class="card-body">
                 <div class="table-responsive">
                     <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                         <thead>
                             <tr>
                                <th>ID</th>

                                 <th>Data</th>
                                 <th>Médico</th>
                                 <th>Paciente</th>
                        
                                 <th style="color:green; text-align: center; vertical-align: middle;">Detalhar</th>
                                 <th style="color:blue; text-align: center; vertical-align: middle;">Editar</th>
                                 <th style="color:red; text-align: center; vertical-align: middle;">Excluir</th>
                             </tr>
                         </thead>
                         <tfoot>
                             <tr>
                                <th>ID</th>

                                 <th>Data</th>
                                 <th>Médico</th>
                                 <th>Paciente</th>
                                 <th style="color:green; text-align: center; vertical-align: middle;">Detalhar</th>
                                 <th style="color:blue; text-align: center; vertical-align: middle;">Editar</th>
                                 <th style="color:red; text-align: center; vertical-align: middle;">Excluir</th>
                             </tr>
                         </tfoot>
                         <tbody>
                             {% for consulta in consultas %}
                             <tr>
                                <td>{{consulta.id}}</td>

                                 <td>{{consulta.data}}</td>
                                 <td>{{consulta.medico}}</td>
                                 <td>{{consulta.paciente}}</td>
                                
                                 <td style="text-align: center; vertical-align: middle;">
                                     <a href="{% url 'detail-consulta' consulta.id %}"> <i class="fas fa-eye fa-lg" style="color: #38c007;"></i> </a>
                                 </td>
                                 <td style="text-align: center; vertical-align: middle;">
                                    <a href="{% url 'edit-consulta' consulta.id %}"> <i class="fas fa-pen fa-lg" style="color:blue;"></i> </a>
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <a  href="{% url 'remove-consulta' consulta.id %}"  class="remove"> <i class="fas fa-trash fa-lg" style="color: #ff0000;"></i> </a>
                                </td>
                             </tr>
                        
                             {% endfor %}
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>


      {% include '_delete.html' %} 
    {%endblock%}