     
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-{{ medico.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Certeza que deseja deletar?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione "Sim" abaixo se realmente quiser deletar</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" id="confirmDeleteButton" href="">Sim</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var links = document.querySelectorAll('.remove');
            var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
            var confirmDeleteButton = document.getElementById('confirmDeleteButton');
    
            links.forEach(function(link) {
                link.addEventListener('click', function(event) {
                    event.preventDefault(); 
                    var href = link.getAttribute('href'); 
                    confirmDeleteButton.setAttribute('href', href);
                    deleteModal.show(); 
                });
            });
        });
    </script>