{% extends '_base3.html' %}
{% load static %}

{% block title %}Detalhes de {{medico_detail.nome}}{% endblock %}

    {% block content %}

    <section style="background-color: #eee;">
        <div class="container py-5">
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">

                    {% if medico_detail.foto_perfil %}
                        <img src="{{medico_detail.foto_perfil.url}}" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                    {% else %}
                        <img src="{% static 'img/administrador/image.png' %}" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                    {% endif %}

                  <h5 class="my-3">{{medico_detail.nome}}</h5>

                  <a type="button" class="btn btn-primary"   data-toggle="modal" data-target="#myModal"><i class="fa-solid fa-pen-to-square" style="color:#ffffff;"></i> Editar</a>
                  <a type="button" class="btn btn-danger remove" href="{% url 'remove-medico' medico_detail.id %}"><i class="fas fa-trash fa-lg" style="color:#ffffff;"></i> Deletar</a>

                  <div class="d-flex justify-content-center mb-2">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">CRM</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{medico_detail.crm}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Especialidade</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{medico_detail.especialidade}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Telefone</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{medico_detail.telefone}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Afiliação</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{medico_detail.hospital_clinica}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Data de Nascimento</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{medico_detail.data_nascimento}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
        
                    <!-- Modal content-->
                    <form class="modal-content" method="post" action="/medico/edit/{{medico_detail.id}}/"  enctype="multipart/form-data">
                        <div class="modal-header">
                            <h4 class="modal-title">Editar Médico</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" href="#" class="btn btn-primary btn-icon-split" >
                                <span class="text">Editar</span>
                            </button>
                        </div>
                    </form>
        
                </div>
                </div>
      {% include '_delete.html' %}
    {% endblock %}