{% extends '_base.html' %}
{% load static %}

{% block title %}Meu Perfil{% endblock %}

    {% block content %}

        <link rel="stylesheet" href="{% static '/css/medico/perfil.css' %}">

        <section class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-4 mb-sm-5">
                        <div class="card card-style1 border-0">
                            <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                        {% if medico.foto_perfil %}
                                            <img src="{{medico.foto_perfil.url}}" alt="avatar"
                                            class="img-fluid" style="max-width:350px; height: auto;">
                                        {% else %}
                                            <img src="{% static 'img/administrador/image.png' %}" alt="avatar"
                                            class="img-fluid" style="max-width:350px; height: auto;">
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-6 px-xl-10">
                                        <div class="bg-secondary py-1-9 px-1-9 px-sm-6 mb-1-9 rounded" style="width: 25rem; white-space: nowrap;">
                                            <h3 class="h2 text-white mb-0">{{medico.nome}}</h3>
                                            <span class="text-primary">Médico</span>
                                        </div>                                        
                                        <ul class="list-unstyled mb-1-9">
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Especialidade:</span> {{medico.especialidade}}</li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">CRM:</span> {{medico.crm}}</li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Telefone:</span> {% if medico.telefone %}{{medico.telefone}}{% else %} Não cadastrado{% endif %}</li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Hospital/Clínica:</span> {{medico.hospital_clinica}}</li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Data de Nascimento:</span> {{medico.data_nascimento}}</li>
                                        </ul>
                                        <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                            <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                            <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                            <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                            <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}