{% extends '_base.html' %}
{% load static %}

    {% block content %}


    <div class="container mt-4">
        
    <h1 class="h3 mb-2 text-gray-800" style="padding-bottom: 2rem;">Tabela de Enfermidades</h1>
        <!-- Barra de Busca com Botão -->
        <div class="form-row mb-4">
            <div class="col">
                <form class="form-inline" method="get" action="/cid/">
                    <input name="query" type="text" class="form-control mr-2" placeholder="Descrição ou código..." value="{{query}}">
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </button>
                </form>
            </div>
        </div>
        
        <!-- Tabela -->
        {% if cids %}
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cid in cids %}
                        <tr>
                            <td>{{cid.codigo}}</td>
                            <td>{{cid.descricao}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-danger text-center mx-auto w-50" role="alert">
                <p><i class="fa-solid fa-syringe fa-2x"></i></p>
                Nenhuma CID encontrado.
            </div>            
        {% endif %}
    </div>
    
    {% endblock %}